/* ---------------------------------------------------------------------
 @media
 -------------------------------------------------------------------- */
@media print{ .ui-tabs-nav{ display: none; } }
@media projection, screen{ .ui-tabs-hide{ display: none; } }

/* ---------------------------------------------------------------------
 .ui-tabs-nav
 -------------------------------------------------------------------- */
.ui-tabs-nav
{
	list-style: none;
	margin: 0px; padding: 0px 0px 0px 4px;
}

.ui-tabs-nav:after
{
	content: " ";
	display: block; clear: both;
}

.ui-tabs-nav li
{
	float: left;
	margin: 0px 0px 0px 1px;
	min-width: 84px;
}

.ui-tabs-nav a, .ui-tabs-nav a span
{
	display: block; padding: 0px 10px;
}

.ui-tabs-nav a
{
	margin: 1px 0px 0px;
	padding-left: 0px;
	color: #000080;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	outline: 0;
	cursor : hand;
}
.ui-tabs-nav .ui-tabs-selected a
{
	position: relative;
	top: 1px; z-index: 2;
	margin-top: 0px;
	color: #000000;
}
.ui-tabs-nav a span
{
	width: 64px; min-width: 64px;
	height: 18px; min-height: 18px;
	padding: 6px 0px 0px 0px;
}
*>.ui-tabs-nav a span
{
	width: auto;
	height: auto;
}

.ui-tabs-nav .ui-tabs-selected a span
{
	padding-bottom: 1px;
}