body
{
	margin: 0px; padding: 0px;
	color: #330000; font-size: 90%;
	font-family: Verdana, Helvetica, sans-serif;
	background: url('../images/wall0041.gif') repeat-x;
}

h2{ font-size: 125%; }

pre
{
	border: 1px solid #000000;
	white-space:-pre-wrap;
	white-space: -o-pre-wrap;
	white-space:-moz-pre-wrap;
	white-space: pre-wrap;
	line-break:strict;
	word-break:break-all;
	word-wrap:break-word;
}

/* ---------------------------------------------------------------------
 .header
 -------------------------------------------------------------------- */
.header
{
	width: 100%; height: 68px;
}
.header h1
{
	line-height: 60px;
	text-indent: -1000px;
	margin: 0px; padding: 0px;
	background: url('../images/jsmarty_icon.gif') no-repeat left;
}

.header .col01{ width: 30%; float: left; clear: right; }
.header .col02
{
	line-height: 60px;text-align: right;
	width: 70%; float: left; clear: right;
}
.header a
{
	font-size: 18px;
	margin: 0px 8px;
}

/* ---------------------------------------------------------------------
 .main
 -------------------------------------------------------------------- */
.main
{
	padding: 16px 32px;
	margin: 0px 264px 0px 0px;
}

.main h2
{
	margin: 0px -16px; padding: 8px;
	color: #ffffff; border: 1px solid #000000;
	background: url('../images/wall0042.gif') fixed;
}

.main h3
{
	margin: 16px -16px; padding: 8px;
	border-left: 8px solid #000000;
}

.main pre
{
	padding: 16px;
}

/* ---------------------------------------------------------------------
 .sidebar
 -------------------------------------------------------------------- */

.sidebar
{
	width: 248px;
	position: absolute;
	top: 84px; right: 16px;
}

.sidebar h2
{
	padding: 8px; margin: 0px;
	color: #ffffff; border: 1px solid #000000;
	background: url('../images/wall0042.gif') fixed;
}

.sidebar ul
{
	font-size: 86%;
}

/* ---------------------------------------------------------------------
 .footer
 -------------------------------------------------------------------- */
.footer
{
	text-align: right;
	padding: 8px 0px; margin: 16px -16px 0px -16px;
	border-top: 3px dotted #000000;
}